In [1]:
import numpy as np
import pandas as pd
data = pd.read_csv("C:\\Users\\Vivek Nag Kanuri\\Downloads\\Dataset.csv")
data.head()

,encounter_id,patient_id,hospital_id,hospital_death,age,bmi,elective_surgery,ethnicity,gender,height,...,aids,cirrhosis,diabetes_mellitus,hepatic_failure,immunosuppression,leukemia,lymphoma,solid_tumor_with_metastasis,apache_3j_bodysystem,apache_2_bodysystem
0,66154,25312,118,0,68.0,22.73,0,Caucasian,M,180.3,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,Sepsis,Cardiovascular
1,114252,59342,81,0,77.0,27.42,0,Caucasian,F,160.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,Respiratory,Respiratory
2,119783,50777,118,0,25.0,31.95,0,Caucasian,F,172.7,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Metabolic,Metabolic
3,79267,46918,118,0,81.0,22.64,1,Caucasian,F,165.1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Cardiovascular,Cardiovascular
4,92056,34377,33,0,19.0,NaN,0,Caucasian,M,188.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Trauma,Trauma

In [2]:
data.columns

Index(['encounter_id', 'patient_id', 'hospital_id', 'hospital_death', 'age',
       'bmi', 'elective_surgery', 'ethnicity', 'gender', 'height',
       ...
       'aids', 'cirrhosis', 'diabetes_mellitus', 'hepatic_failure',
       'immunosuppression', 'leukemia', 'lymphoma',
       'solid_tumor_with_metastasis', 'apache_3j_bodysystem',
       'apache_2_bodysystem'],
      dtype='object', length=186)

In [3]:
data.isnull().sum()

encounter_id                      0
patient_id                        0
hospital_id                       0
hospital_death                    0
age                            4228
                               ...
leukemia                        715
lymphoma                        715
solid_tumor_with_metastasis     715
apache_3j_bodysystem           1662
apache_2_bodysystem            1662
Length: 186, dtype: int64

In [4]:
df=data.copy()

In [5]:
df.interpolate(inplace=True)

In [6]:
df.dropna(inplace=True)

In [7]:
df.isnull().sum()

encounter_id                   0
patient_id                     0
hospital_id                    0
hospital_death                 0
age                            0
                              ..
leukemia                       0
lymphoma                       0
solid_tumor_with_metastasis    0
apache_3j_bodysystem           0
apache_2_bodysystem            0
Length: 186, dtype: int64

In [8]:
df.drop(['encounter_id','patient_id','hospital_id'],axis=1, inplace=True)

In [9]:
df.head()

,hospital_death,age,bmi,elective_surgery,ethnicity,gender,height,hospital_admit_source,icu_admit_source,icu_id,...,aids,cirrhosis,diabetes_mellitus,hepatic_failure,immunosuppression,leukemia,lymphoma,solid_tumor_with_metastasis,apache_3j_bodysystem,apache_2_bodysystem
8118,0,78.0,27.421062,0,Caucasian,M,182.88,Emergency Department,Accident & Emergency,143,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Cardiovascular,Cardiovascular
8120,0,75.0,29.515045,0,Caucasian,M,175.30,Emergency Department,Accident & Emergency,136,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Sepsis,Cardiovascular
8121,0,81.0,22.818251,1,Caucasian,F,170.20,Emergency Department,Accident & Emergency,143,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Gastrointestinal,Gastrointestinal
8122,0,87.0,38.709755,0,Caucasian,F,157.48,Floor,Floor,136,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Metabolic,Metabolic
8123,0,75.0,26.891178,0,Other/Unknown,F,165.10,Direct Admit,Accident & Emergency,133,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Sepsis,Cardiovascular

In [10]:
from sklearn.preprocessing import LabelEncoder
l=LabelEncoder()
for i in df.columns:
    if df[i].dtypes==object:
        df[i]=l.fit_transform(df[i])

In [11]:
x=df.drop('hospital_death',axis=1)
y=df['hospital_death']

In [12]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x=sc.fit_transform(x)

In [13]:
x.shape

(60675, 182)

In [14]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(x,y,test_size = 0.3)

In [15]:
import tensorflow as tf
import keras 
from keras.models import Sequential
from keras.layers import Dense, Activation

model = Sequential()
model.add(Dense(64, input_dim=182))
model.add(Activation('relu'))
model.add(Dense(32))
model.add(Activation('relu'))
model.add(Dense(16))
model.add(Activation('relu'))
model.add(Dense(1))
model.add(Activation('softmax'))

model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])
history=model.fit(X_train, y_train, epochs=25, batch_size=64)

Epoch 1/25
664/664 [==============================] - 1s 796us/step - loss: 0.0000e+00 - accuracy: 0.0917
Epoch 2/25
664/664 [==============================] - 1s 792us/step - loss: 0.0000e+00 - accuracy: 0.0917
Epoch 3/25
664/664 [==============================] - 1s 774us/step - loss: 0.0000e+00 - accuracy: 0.0917
Epoch 4/25
664/664 [==============================] - 1s 780us/step - loss: 0.0000e+00 - accuracy: 0.0917
Epoch 5/25
664/664 [==============================] - 1s 795us/step - loss: 0.0000e+00 - accuracy: 0.0917
Epoch 6/25
664/664 [==============================] - 1s 793us/step - loss: 0.0000e+00 - accuracy: 0.0917
Epoch 7/25
664/664 [==============================] - 1s 780us/step - loss: 0.0000e+00 - accuracy: 0.0917
Epoch 8/25
664/664 [==============================] - 1s 782us/step - loss: 0.0000e+00 - accuracy: 0.0917
Epoch 9/25
664/664 [==============================] - 1s 794us/step - loss: 0.0000e+00 - accuracy: 0.0917
Epoch 10/25
664/664 [==============================] - 1s 795us/step - loss: 0.0000e+00 - accuracy: 0.0917
Epoch 11/25
664/664 [==============================] - 1s 790us/step - loss: 0.0000e+00 - accuracy: 0.0917
Epoch 12/25
664/664 [==============================] - 1s 795us/step - loss: 0.0000e+00 - accuracy: 0.0917
Epoch 13/25
664/664 [==============================] - 1s 816us/step - loss: 0.0000e+00 - accuracy: 0.0917
Epoch 14/25
664/664 [==============================] - 1s 850us/step - loss: 0.0000e+00 - accuracy: 0.0917
Epoch 15/25
664/664 [==============================] - 1s 987us/step - loss: 0.0000e+00 - accuracy: 0.0917
Epoch 16/25
664/664 [==============================] - 1s 915us/step - loss: 0.0000e+00 - accuracy: 0.0917
Epoch 17/25
664/664 [==============================] - 1s 885us/step - loss: 0.0000e+00 - accuracy: 0.0917
Epoch 18/25
664/664 [==============================] - 1s 809us/step - loss: 0.0000e+00 - accuracy: 0.0917
Epoch 19/25
664/664 [==============================] - 1s 803us/step - loss: 0.0000e+00 - accuracy: 0.0917
Epoch 20/25
664/664 [==============================] - 1s 805us/step - loss: 0.0000e+00 - accuracy: 0.0917
Epoch 21/25
664/664 [==============================] - 1s 794us/step - loss: 0.0000e+00 - accuracy: 0.0917
Epoch 22/25
664/664 [==============================] - 1s 799us/step - loss: 0.0000e+00 - accuracy: 0.0917
Epoch 23/25
664/664 [==============================] - 1s 1ms/step - loss: 0.0000e+00 - accuracy: 0.0917
Epoch 24/25
664/664 [==============================] - 1s 801us/step - loss: 0.0000e+00 - accuracy: 0.0917
Epoch 25/25
664/664 [==============================] - 1s 762us/step - loss: 0.0000e+00 - accuracy: 0.0917

In [16]:
pred=model.predict(X_test)

569/569 [==============================] - 0s 606us/step

In [17]:
from sklearn.metrics import accuracy_score
a=accuracy_score(pred,y_test)
print('Accuracy : ',a*1000)

Accuracy :  90.47959127616328